<div class="container">
  <h2>{{model.name}}</h2>
  <hr />
  <p>{{model.id}}</p>
  <p>{{model.name}}</p>
  <p>{{model.phone}}</p>
  <p>{{model.want}}</p>
  <p>{{model.notes}}</p>
  <p>{{model.notes}}</p>
</div>
