<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>New Appointment</h2>
    <form action="/appointments" method="post">
      <div class="form-group">
        <label for="artistID">Artist:</label>
        {{input value=model.artistId class="form-control" id="artistID"}}
      </div>
      <div class="form-group">
        <label for="customerID">Customer:</label>
        {{input value=model.customerId class="form-control" id="customerID"}}
      </div>
      <div class="form-group">
        <label for="dateScheduled">Date Scheduled:</label>
        {{bootstrap-datepicker value=model.dateScheduled class="form-control"}}
      </div>
      <div class="form-group">
        <label for="descInput">Description:</label>
        {{textarea value=model.description class="form-control" rows="3" id="descInput"}}
      </div>
      <button class="btn btn-primary" {{action 'createAppointment'}}>Create</button>
    </form>
    {{#if model.errors }}
      <div class="alert alert-danger">
        <strong>There was an error.</strong>
      </div>
    {{/if}}
  </div>
</div>
